<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Головна</title>
</head>
<body>
<h1>Форма згадки</h1>
<form action="/add" method="post">
    Ім'я: <input type="text" name="name" required><br>
    Вік: <input type="number" name="age" required><br>
    Коментар: <textarea name="comment" required></textarea><br>
    <button type="submit">Надіслати</button>
</form>
<a href="/mentions">Переглянути усі згадки</a>
</body>
</html>
